<div>
    <h2>قائمة العناصر </h2>
</div>
<div>
    <p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Modal-itemCreate">أضافة عنصر</a>
    </p>
</div>
<table class="table" id="itemTable">
    <tr class="btn-primary">

        <th>
            أسم العنصر
        </th>
        <th>
            السعر
        </th>
        <th>
            وقت التحظير
        </th>
        <th>
            أسم المطعم
        </th>
        <th>
            الصنف
        </th>
        <th>
            الصورة
        </th>
        <th>
            الأجراء
        </th>
    </tr>

    @foreach (var item in ViewBag.items)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>

            <td>
                @item.TimeOfDone
            </td>
            <td>
                @item.Restaurant.Name
            </td>                                      
            <td>
                @item.Category.Name
            </td>
            <td>
                <img src="~/Uploads/Items/@item.ImgUrl" class="img-thumbnail" style="width:48px;height:48px" />
            </td>
            <td>
                <a  style="font-size:20px" onclick="EditItemConfirm(@item.Id)"><i class="fa-solid fa-pen-to-square Action-Icon" style="color: #005eff;"></i></a> |
                <a  style="font-size:20px" onclick="DeleteItemConfirm(@item.Id)"><i class="fa-solid fa-trash-can Action-Icon" style="color: #ff2600;"></i></a>
                <input type="hidden" id="itemId" />
            </td>
        </tr>
    }

</table>
<i class="fa-regular fa-trash-undo"></i>