<div class="row  container">
    @foreach (var item in ViewBag.items)
    {
        <div class="col-md-2 thumbnail ItemDivs" style=" margin-left:25px; margin-bottom:30px;">
            <img src="~/Uploads/Categories/@item.ImgUrl" style="height: 170px; width:170%; border-radius: 130px;" />
            <div style="color:black"><h4>@item.Name</h4></div>
            <div style="color:black"><h4>@item.Price</h4></div>
            <a class="btn btn-primary requstBotton" id="btnadd+@item.Id" onclick="AddConfirm(@item.Id)">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                إضافة للسلة
            </a>

            <div class="row counter" id="counter+@item.Id" hidden>
                <div class="col-md-7" style="padding:0px">
                    <input id="txtDisplayNumber+@item.Id" type="text" readonly  style="text-align:center;color:black"/>
                </div>
                <div class="col-md-2" style="padding:0px">
                    <i class="fa-solid fa-angle-up btn ArrowSign" onclick="increase(@item.Id)"></i>
                    <i class="fa-solid fa-angle-down btn ArrowSign" onclick="decrease(@item.Id)"></i>
                </div>
                <div class="col-md-3 " style="padding:0px">
                    <i class="fa-sharp fa-solid fa-plus btn plusSign" onclick="AddToBillConfirm(@item.Id)"></i>
                </div>
            </div>
        </div>

    }
</div>



<script>

    var AddConfirm = function (_id) {
        document.getElementById("btnadd+" + _id).style.display = 'none'
        document.getElementById("counter+" + _id).style.display = 'block'
        document.getElementById("txtDisplayNumber+" + _id).value = 1;
    };

    var AddToBillConfirm = function (_id) {
        document.getElementById("btnadd+" + _id).style.display = 'block'
        document.getElementById("counter+" + _id).style.display = 'none'
        $.ajax({
            type: "Post",
            url: "/Home/AddToBill",
            data: { id: _id },
            success: function (result) {
                var btnAddtoBill = document.getElementById("btnadd+"+_id)
                btnAddtoBill.textContent = "تمت الأضافة"
                btnAddtoBill.className = "addBotton"
                return false;
            }
        });
    };

    var increase = function (_id) {
        document.getElementById("txtDisplayNumber+" + _id).value++;
    };

    var decrease = function (_id) {
        if ($("#txtDisplayNumber+" + _id).val()!="1")
        document.getElementById("txtDisplayNumber+"+ _id).value -= 1;
    };

</script>