@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/layoutStyle.css" rel="stylesheet" />
    <link href="~/Content/sidebar.css" rel="stylesheet" />
    <link href="~/Content/styleLogin.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div>
            <div class="navbar-header navbar-right">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div href="#" class="navbar-brand">
                    @if (Request.IsAuthenticated)
                    {
                        <a class="btn btn-default btnLogOut" href="javascript:document.getElementById('logoff').submit()"><i class="fa-solid fa-right-from-bracket"></i></a>
                    }
                    else
                    {
                        <span class="btnLogin-popup btn btn-default btnLoginshow" data-toggle="modal" data-target="#Modal-Authentication">Login</span>
                    }
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home/Index">
                            الرئيسية
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>

                    <li>
                        <a href="/Items/ItemIndex">
                            أصناف العروض
                            <i class="glyphicon glyphicon-folder-open"></i>

                        </a>
                    </li>

                    <li>
                        <a href="/Restaurants/RestaurantIndex">
                            حول الموقع
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            اتصل بنا
                            <i class="glyphicon glyphicon-envelope"></i>

                        </a>
                    </li>

                </ul>
                <!-- partial login-->
                @Html.Partial("_LoginPartial")
            </div>
            <a href="@Url.Action("GetBill", "Home")" id="BasketId" class="Basket">
                <i class="glyphicon glyphicon-shopping-cart" id="Bas"></i>
            </a>
        </div>
    </nav>
    <!-- End Navbar-->

    <!-- Landing-->
    <div class="row landing">
        <div class="col-md-6 ladingHalf" data-aos="zoom-in" data-aos-delay="200">
            <img src="~/images/hero-img.png" class="img-fluid landingImg img-thumbnail" />
        </div>
        <div class="col-md-6 text">
            <h1>FOODSTATION</h1>
            <h5>اكتشف المطاعم القريبة منك واستمتع بأشهى الأطعمة</h5>
            <p class="lead">إذا كنت تبحث عن تجربة طعام فريدة وممتعة، فإن تطبيق FOODSTATION هو الخيار الأمثل لك. يساعدك هذا التطبيق على استكشاف المطاعم القريبة من موقعك والدخول إلى قائمة الأطعمة وتصفحها بسهولة. بالإضافة إلى ذلك، يتيح لك التطبيق طلب الوجبات المفضلة لديك من المطاعم المختلفة.</p>
        </div>

    </div>
    <!-- End landing-->

    <!--Main-->
    <main class="mainContiner">
        @RenderBody()
        <div id="_billItems">
            @Html.Partial("_ManageMdalPartial")
        </div>
    </main>
    <!--End main-->

    <!-- Footer-->
    <footer>
        <div class="row">
            <div class="col">
                <img src="~/images/favicon.ico" class="logo">
                <p>
                    منصة FOODSTATION
                    أختيارك الأفصل هنا بامكانك تصفح جميع المطاعم والكافيهات ومعرفة الأصناف نوفر لك سلالسة في الوصول
                    لو كنت مال مطعم نوفر لك تسويق للاصناف مع الأسعار أشترك معنا بأحدى الأشتراكات المتاحة لتتميز بخدماتنا الجميلة
                </p>
            </div>
            <div class="col">
                <div class="footerTitle">
                    المكتب <div class="underline"><span></span></div>
                </div>
                <p>الشارع العام</p>
                <p>حي السلام, مقابل مكتب البريد</p>
                <p>المكلا . PIN 560066, اليمن</p>
                <p class="email-id">Occ716528@gmail.com</p>
                <h4>+967 - 770485277 </h4>
            </div>
            <div class="col">
                <div class="footerTitle">
                    روابط <div class="underline"><span></span></div>
                </div>
                <ul>
                    <li><a href="">الرئيسية</a></li>
                    <li><a href="">الخدمات</a></li>
                    <li><a href="">حول الموقع</a></li>
                    <li><a href="">المميزات</a></li>
                    <li><a href="">تواصل معنا</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="footerTitle">
                    أخر الأخبار <div class="underline"><span></span></div>
                </div>
                <form>
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="أدخل الإيميل الخاص بك" required>
                    <button type="submit"><i class="fa-solid fa-arrow-left"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>
                </div>
            </div>
        </div>
        <hr>
        <p style="direction:rtl" class="copyright">ASM-Group &copy; 2023 - جميع الحقوق محفوظة</p>
    </footer>
    <!--End footer-->

    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/Content/Site.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
