@model IEnumerable<FOODSTATION.Models.Category>
@{
    ViewBag.Title = "Category";
}
<input id="restaurantId" type="hidden" value="@(ViewBag.restaurantId)">
<div class="jumbotron" style="margin: 20px; background-color: #224c4c; color: burlywood; height: 150px; border-radius: 100px; text-align: center; overflow: hidden;">
    <h2 style="font-weight:bold ; margin-top:5px">Cloud-Restaurants</h2>
    <h4 style="background-color: teal;padding:8px; border-radius: 50px 10px;">@ViewBag.Name</h4>
</div>

<div class="row AllCategories">
    <div class="container ">

        <a onclick="getallItems()">
            <div class="col-md-2 thumbnail CategoryDivs" style=" margin-left:25px; margin-bottom:30px;">
                <img src="~/Uploads/Categories/Chef-bro.png" style="height: 90px; width:90px; border-radius: 130px;" />
                <div class="CategoryName"><h4>الكل</h4></div>
            </div>
        </a>
        @foreach (var item in Model)
        {
            <a onclick="getItems(@item.Id)">
                <div class="col-md-2 thumbnail CategoryDivs" style=" margin-left:25px; margin-bottom:30px;">
                    <img src="~/Uploads/Categories/@item.ImgUrl" style="height: 90px; width:90px" />
                    <div class="CategoryName"><h4> @Html.DisplayFor(modelItem => item.Name)</h4></div>
                </div>
            </a>
        }

    </div>
</div>

<div class="row" id="_SelectedCategoryItems">
    @Html.Partial("_SelectedCategoryItems")
</div>









