@model IEnumerable<FOODSTATION.Models.Category>
@{
    ViewBag.Title = "Category";
}
<input id="restaurantId" type="hidden" value="@(ViewBag.restaurantId)">

<div class="hello-Continer">
    <img src="~/Uploads/Restaurants/r6.jpg" alt="Your Image">
    <div class="description">
        <h2>Your Title Goes Here</h2>
        <p>Your description goes here. It can be several lines long.</p>
    </div>
</div>

<!--#region Slider-->

<!-- image slider start-->
<div class="slider">
    <div class="slides">
        <!--radio buttons start-->
        @{var radioCounter = 1;}
        @foreach (var item in ViewBag.adv)
        {
            string id = "radio"+radioCounter;
            <input type="radio" name="radio-btn" id="@id">
            radioCounter++;
        }
        <!--radio buttons end-->

        <!--slide image start-->
        @{string slideClassName = "slide first";}
        @foreach (var item in ViewBag.adv)
        {
            <div class="@slideClassName">
                <img src="~/Uploads/Advertisements/@item.ImgUrl" alt="">
            </div>
            slideClassName = "slide";
        }
        <!--slide image end-->

        <!--automatic navigation start-->
        @{var autoCounter = 1;}
        <div class="navigation-auto">
        @foreach (var item in ViewBag.adv)
        {
            string autoClassName = "auto-btn"+ autoCounter;
            <div class="@autoClassName"></div>
            autoCounter++;
        }
        </div>
        <!--automatic navigation end-->
    </div>
    <!--manual navigation start-->
    @{var manualCounter = 1;}
    <div class="navigation-manual">
    @foreach (var item in ViewBag.adv)
    {
        string manualForthis = "radio" + manualCounter;
        <label for="@manualForthis" class="manual-btn"></label>
        manualCounter++;
    }
    </div>
    <!--manual navigation end-->
</div>
<!-- image slider end-->

<!--#endregion Slider-->

<div class="AllCategories">
    <div class="container">
        <a onclick="getallItems()">
            <div class="col-md-2 thumbnail CategoryDivs">
                <img src="~/Uploads/Categories/Chef-bro.png" alt="All Categories" />
                <h4>الكل</h4>
            </div>
        </a>
        @foreach (var item in Model)
        {
            <a onclick="getItems(@item.Id)">
                <div class="col-md-2 thumbnail CategoryDivs">
                    <img src="~/Uploads/Categories/@item.ImgUrl" alt="@Html.DisplayFor(modelItem => item.Name)" />
                    <h4> @Html.DisplayFor(modelItem => item.Name)</h4>
                </div>
            </a>
        }
    </div>
</div>


<div id="_SelectedCategoryItems">
    @Html.Partial("_SelectedCategoryItems")
</div>

@section Scripts
{
    <script type="text/javascript">
        var counter = 1;
        var maxNoAdv = @ViewBag.Adv.Count;
        setInterval(function () {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > maxNoAdv) {
                counter = 1;
            }
        }, 5000);

    </script>
}









