
@{
    ViewBag.Title = "Home Page";
}
<!-- start about  -->
<div class="about">
    <div class="container">
        <div class="main-heading">
            <h2>من نحن ؟</h2>
            <p>منصة فود أستيشن هي عبارة عن منصة يمكنك خلالها تصفح جميع اكلات المطاعم في مدينتك  والطلب منها من خلال التطبيق </p>
        </div>
    </div>
</div>
<!-- End about  -->
<!-- start stats  -->
<div class="stats">
    <div class="container">
        <div class="box">
            <i class="fas fa-mug-hot"></i>
            <div class="number">1,236</div>
            <p>الكافيهات</p>
        </div>

        <div class="box">
            <i class="far fa-folder"></i>
            <div class="number">256</div>
            <p>المطاعم</p>
        </div>

        <div class="box">
            <i class="fas fa-envelope"></i>
            <div class="number">1,743</div>
            <p>الأصناف</p>
        </div>

        <div class="box">
            <i class="fas fa-trophy"></i>
            <div class="number">17</div>
            <p>الطلبات في اليوم</p>
        </div>
        <div class="DrowsRegainDiv">
            <a class="DrowsRegain" onclick="GetRestaurants(event)" style="cursor:pointer"> تصفح المطاعم</a>
            <a class="DrowsRegain" onclick="GetNearbyRestaurants()" style="cursor:pointer">تصفح المطاعم القريبة</a>
            <a class="DrowsRegain" href="/Home/GetRegions">  قم بتحديد مدينتك</a>
        </div>

    </div>
</div>
<!-- start stats  -->
<!--Nearby Map-->
<div id="_PartialGetNearbyresaurants" style="display:none">
    @Html.Partial("_PartialGetNearbyresaurants");
</div>

<!--Nearby Map-->
<a class="btnDismisNearbyMap" id="btnDismisNearbyMap" style="display:none;cursor:pointer" onclick="DismisNearbyMap()">  أخفاء الخارطة </a>

<!--start login and register window-->

<div class="modal fade Log" id="Modal-Authentication">
    <div class="wrapper active-popup">
        <span class="icon-close" data-dismiss="modal">
            <i class="glyphicon glyphicon-remove"></i>
        </span>

        <div class="form-box login" id="Modal-Login">
            @Html.Partial("_LoginBox")
        </div>

        <div class="form-box register" id="Modal-Register">
            @Html.Partial("_RegisterBox")
        </div>
        @*@Html.Partial("_LoginAndRegister")*@
    </div>
</div>

<!--End login and register window-->
<!-- start services  -->
<div class="services" id="serv">
    <div class="container">
        <div class="main-heading">
            <h2>الخدمات</h2>
            <p>هذه قائمة بالخدامات المقدمة من قبل المنصة  تخدم كل من العملاء ومالكي المطاعم في المنطقة نهدف من خلالها لجعل تجربتك معنا تليق بك </p>
        </div>
        <div class="services-container">
            <div class="srv-box">
                <i class="fas fa-desktop fa-3x"></i>
                <div class="text">
                    <h3>زيادة الوصول</h3>
                    <p>
                        .من اهم الخدمات المقدمة لمالكي المطاعم حيث ومن خلال الأشتراك بالمنصة تستيطيع زيادة عدد العملاء الى مايقارب %50 عن الاعتياد
                    </p>
                </div>
            </div>
            <div class="srv-box">
                <i class="fas fa-cog fa-3x"></i>
                <div class="text">
                    <h3>واجهة تحكم</h3>
                    <p>
                        حيث بالأمكان لمالك المطعم التحكم في عرض الأصناف والأسعار بالأضافة الى العروض الشهرية لكل ذلك يتم من خلال الأشتراكات الذهبي والماسي
                    </p>
                </div>
            </div>
            <div class="srv-box">
                <i class="fas fa-pencil-ruler fa-3x"></i>
                <div class="text">
                    <h3>الطلب الإلكتروني</h3>
                    <p>
                        .يمكن لمالكي المطاعم تلقي الطلبات ألكترونيا حيث نوفر للعميل خدمة الطلب من مطعمه المفضل من خلال التطبيق
                    </p>
                </div>
            </div>
            <div class="srv-box">
                <i class="fas fa-camera fa-3x"></i>
                <div class="text">
                    <h3>تسويق أفضل</h3>
                    <p>
                        حيث انه من خلال المنصة نوفر لك تسويق لكل الأصناف وأسعارها ونسهل على عملائك عملية تصفح الأكلات المفضله لديهم والطلب منها بسهولة
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End services  -->
<!-- start Mobile  -->
<div class="services" id="mobile">
    <div class="container">
        <div class="main-heading">
            <h2>Modile App</h2>
            <p>قم بتحميل تطبيق الجوال للحصول على العديد من الميزات</p>
        </div>
        <div class="Mobile-container">
            <div class="srv-box">
                <img src="~/images/mob.jpg" style="height:500px;width:500px" />
            </div>
            <div class="srv-box">
                <i class="fas fa-mobile fa-3x"></i>
                <div class="text">
                    <h3>تنزيل أخر إصدار من التطبيق</h3>
                    <p style="text-align:justify">
                        إنه بالفعل من السهل الحصول على التطبيق والاستمتاع بالعديد من الخدمات المتاحة عبره فالتطبيق يمكنك من معرفة موقعك الحالي
                        والعثور على المطاعم القريبة منك,كما يمكنه ارسال
                        إشعارات لك حول ماهو جديد ومفيد.
                        بالأضافة الى ذالك يتيح التطبيق للمستخدمين الكثير من الخيارات والوظائف المميزه.
                    </p>
                    <div class="MobileDiv">
                        <div class="DownloadDiv" data-wow-delay="0.5s">
                            <a href="" class="d-flex bg-primary-gradient rounded py-3 px-4" style="text-decoration:none">
                                <i class="fab fa-apple fa-3x text-white flex-shrink-0" style="color: brown; position: relative; right: 23px;"></i>
                                <div class="ms-3">
                                    <p class="Available">Available On</p>
                                    <h5 class="text-white mb-0">App Store</h5>
                                </div>
                            </a>
                        </div>
                        <div class="DownloadDiv" data-wow-delay="0.7s">
                            <a href="" class="d-flex bg-secondary-gradient rounded py-3 px-4" style="text-decoration:none">
                                <i class="fab fa-android fa-3x text-white flex-shrink-0" style="color: brown; position: relative; right: 23px;"></i>
                                <div class="ms-3">
                                    <p class="Available">Available On</p>
                                    <h5 class="text-white mb-0">Play Store</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile  -->
<!-- start pricing  -->
<div class="pricing" id="Price">
    <div class="container">
        <div class="main-heading">
            <h2>الأشتراكات</h2>
            <p>
                هذه قائمة بالأشتراكات المقدمة وميزاتها مع توفر خصومات خلال الاعياد الوطنية يصل الى 50% أيضا عند الأشتراك في الرقم الذهبي تحصل على  الشهر الأول مجانا
            </p>
        </div>
        <div class="plans">
            @foreach (var part in ViewBag.participations)
            {
                <div class="plan">
                    <div class="head">
                        <h3>@part.Name</h3>
                        <span>@part.Price</span>
                    </div>
                    <ul>
                        @foreach (var item in part.Features)
                        {
                            <li>@item.Name - @item.Numb</li>
                        }

                    </ul>
                    <div class="foot">
                        <a href="#">Bay Now</a>
                    </div>
                </div>
            }
        </div>
        <p class="contact-text">... تواصل معنا إذا لديك طلب خاص </p>
        <a href="#" class="contact-link">تواصل معنا</a>
    </div>
</div>
<!-- End pricing  -->

@section Scripts
{
    <script src="~/Content/main.js"></script>

    @{
        Html.RenderPartial("_AuthScriptsPartial");
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}
