@model IEnumerable<FOODSTATION.Models.Bill>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "My Requst";
}
<div>
    <h2 style="text-align: center; color: #a94442; font-family: 'myfont3'; font-size: xx-large; ">طلباتي</h2>
    @*<h2 style="text-align: center; color: #a94442; font-family: 'myfont3'; font-size: xx-large; ">@Model.First().User.UserName</h2>*@
</div>
<table class="table" id="itemTable" dir="rtl">
    <tr class="TableRow">
        <th>
            أسم المطعم
        </th>
        <th>
            نوع الخدمة
        </th>
        <th>
            تاريخ الطلب
        </th>
        <th>
            الزمن
        </th>
        <th>
            الموقع
        </th> 
        <th>
            عرض
        </th>
    </tr>

    @foreach (var bill in Model.ToList())
    {
            <tr>
                <td>
                    @(bill.Items.Any() ? bill.Items.First().Item.Restaurant.Name : "N/A")
                </td>
                <td>
                    @bill.DiningType.Name
                </td>
                <td>
                    @bill.Date.ToString("d")
                </td>
                <td>
                    @bill.Date.ToString("t")
                </td>
                <td>
                    @bill.Location
                </td>
                 <td>
                <a style="font-size:20px" onclick="GitBillItemConfirm(@bill.Id)"><i class="fa-solid fa-pen-to-square Action-Icon" style="color: #005eff;"></i></a>
            </td>
            </tr>

    }


</table>
<div id="_PartialBillItem">
    @Html.Partial("_PartialBillItem")
</div>
<i class="fa-regular fa-trash-undo"></i>
<script>
    //const Exceptable = document.querySelector(".ExceptableRequest");
    //Exceptable.addEventListener('click', () => {
    //    Exceptable.classList.add('active');
    //});

    var GitBillItemConfirm = function (_id) {
        $.ajax({
            type: "Post",
            url: "/Home/ShowBillItems",
            data: { id: _id },
            success: function (result) {
                $('#_PartialBillItem').html(result);
                $("#Modal-billItem").modal('show');
            }
        });
    };
</script>
