@model IEnumerable<FOODSTATION.Models.Bill>
@using FOODSTATION.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Requstes";
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var CurrentUser = db.Users.Where(a => a.Id == userId).SingleOrDefault().UserName;
}
<div style="position: relative; width: 100%; height: 100px; min-height: 100px; margin-bottom: 20px; ">
    <h2 style="text-align: center; color: #a94442; font-family: 'myfont3'; font-size: xx-large; ">قائمة الطلبات</h2>
    <div style="position: absolute; right: 70px;">
        <label class="col">فلترة بحسب المطعم </label>
        @Html.DropDownList("Restaurants", null, htmlAttributes: new { @class = "col input-fild" })
    </div>
</div>
<table class="table" id="itemTable" dir="rtl">
    <tr class="TableRow">

        <th>
            صاحب الطلب
        </th>
        <th>
            تاريخ الطلب
        </th>
        <th>
            الزمن
        </th>
        <th>
            الأجراء
        </th>
    </tr>

    @foreach (var bill in Model)
    {
        <tr>
            <td>
                @bill.User.UserName
            </td>
            <td>
                @bill.Date.ToString("d")
            </td>
            <td>
                @bill.Date.ToString("t")
            </td>
            <td>
                <a style="font-size:20px" onclick="GitBillItemConfirm(@bill.Id)"><i class="fa-solid fa-pen-to-square Action-Icon" style="color: #005eff;"></i></a>
            </td>
        </tr>

    }
</table>
<div id="_PartialBillItem">
    @Html.Partial("_PartialBillItem")
</div>

<script>
    //const Exceptable = document.querySelector(".ExceptableRequest");
    //Exceptable.addEventListener('click', () => {
    //    Exceptable.classList.add('active');
    //});

    var GitBillItemConfirm = function (_id) {
        $.ajax({
            type: "Post",
            url: "/Home/ShowBillItems",
            data: { id: _id },
            success: function (result) {
                $('#_PartialBillItem').html(result);
                $("#Modal-billItem").modal('show');
            }
        });
    };
</script>