@model CloudRestaurant.Models.Region

<div class="container" id="_RegionPartial" style="direction:rtl">
    @Html.Partial("_RegionPartial")
</div>

<!--Create Region-->

<div class="modal fade Region" id="Modal-regionCreate">
    <div class="modal-dialog">
        <div class="modalContent-Region" style="background:#fff ; position:relative">
            <div class="modal-header">
                <h2 class="modal-title" style="text-align:center">أضافة منطقة</h2>
            </div>
            <div class="Region-modal-body">
                @using (Html.BeginForm("Create", "Regions", FormMethod.Post, new { enctype = "multipart/form-data", @class = "ResetForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <div class="form-horizontal">
                            <div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div>
                                    <div>
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-fild", @id = "CRname" } })
                                    </div>
                                    @Html.LabelFor(model => model.CountryId, "الدولة", htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "input-fild", @id = "RCountryId" })
                                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div>
                        <input value="أضافة" class="btn btn-success modal-BtnCreate" id="btnRegionCreate" />
                        <button id="btnCreateColse" type="button" class="btn modal-BtnClose" data-dismiss="modal" onclick="RresetFilds(event)">أغلاق</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Delete Region -->

<div class="modal fade Region" id="Modal-RegionDelete">
    <div class="modal-dialog">
        <div class="modalContent-Region" style="background:#fff ; position:relative">
            <div class="modal-header">
                <h2 class="modal-title" style="text-align:center">Delete</h2>
            </div>
            <div class="Region-modal-body">
                <div class="form-horizontal">
                    <h3>هل تريد بالفعل حذف هذة المنطقة</h3>
                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input id="btnRegionDelete" type="button" value="حـذف" class="btn btn-danger modal-BtnDelete" />
                        <button id="btnDeleteColse" type="button" class="btn modal-BtnClose" data-dismiss="modal" onclick="resetFilds(event)">أغلاق</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit Region-->

<div class="modal fade Region" id="Modal-regionEdit">
    <div class="modal-dialog">
        <div class="modalContent-Region" style="background:#fff ; position:relative">
            <div class="modal-header">
                <h2 class="modal-title" style="text-align:center">تعديل منطقة</h2>
            </div>
            <div class="Region-modal-body">
                @using (Html.BeginForm("Edit", "Regions", FormMethod.Post, new { enctype = "multipart/form-data", @class = "ResetForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <div class="form-horizontal">
                            <div>
                                <input type="hidden" name="Id" id="hiddenId" />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div>
                                    <div>
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-fild", @id = "ERname" } })
                                    </div>
                                    @Html.LabelFor(model => model.CountryId, "الدولة", htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "input-fild", @id = "ERCountryId" })
                                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div>
                        <input value="تعديل" class="btn btn-default modal-BtnCreate" id="btnRegionEdit" />
                        <button id="btnEditColse" type="button" class="btn modal-BtnClose" data-dismiss="modal" onclick="RresetFilds(event)">أغلاق</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
