@model CloudRestaurant.Models.Item

<div class="container" id="_ItemParial" style="direction:rtl">
    @Html.Partial("_ItemPartial")
</div>

<!--Create Items -->

<div class="modal fade Item" id="Modal-itemCreate">
    <div class="modal-dialog">
        <div class="modalContent">
            <div class="modal-header">
                <h2 class="modal-title" style="text-align:center">بيانات العنصر</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Items", FormMethod.Post, new { enctype = "multipart/form-data", @id = "CreateItemForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-horizontal" style="margin-top:50px">
                            <div class="col-md-7" style="float: right">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-fild", @id = "CIname" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "input-fild", @id = "CIprice" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TimeOfDone, htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.EditorFor(model => model.TimeOfDone, new { htmlAttributes = new { @class = "input-fild", @id = "CItimeOfDone" } })
                                        @Html.ValidationMessageFor(model => model.TimeOfDone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryId, "نوع الصنف", htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "input-fild", @id = "CIcategory" })
                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RestaurantId, "مقدمة من", htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.DropDownList("RestaurantId", null, htmlAttributes: new { @class = "input-fild" , @id= "CIrestaurant" })
                                        @Html.ValidationMessageFor(model => model.RestaurantId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5" style="float:right">
                                <div class="form-group">
                                    <img id="CIimgUrl" class="modal-Img" alt="أضف صورة">
                                    <label for="CIpicture" class="btn btn-primary modal-Btn">أضافة صورة</label>
                                    <input id="CIpicture" class="modal-filein" type="file" name="upload" onchange="loadFile('CIimgUrl',event)" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input value="أضافة" class="btn btn-success modal-BtnCreate" id="btnItemCreate" />
                        <button id="btnCreateColse" type="button" class="btn modal-BtnClose" data-dismiss="modal" onclick="resetFilds('CreateItemForm','CIimgUrl',event)">أغلاق</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Edit Item-->

<div class="modal fade Item" id="Modal-itemEdit">
    <div class="modal-dialog modalCenter">
        <div class="modalContent">
            <div class="modal-header">
                <h2 class="modal-title" style="text-align:center">تعديل بينات العنصر</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Items", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditItemForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">

                        <div class="form-horizontal" style="margin-top:50px">
                            <div class="col-md-7" style="float: right">
                                <input type="hidden" name="Id" id="hiddenId" />
                                <input type="hidden" name="ImgUrl" id="hiddenImgUrl" />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4 ", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-fild", @id = "EIname" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "input-fild", @id = "EIprice" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TimeOfDone, htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.EditorFor(model => model.TimeOfDone, new { htmlAttributes = new { @class = "input-fild", @id = "EItimeOfDone" } })
                                        @Html.ValidationMessageFor(model => model.TimeOfDone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryId, "نوع الصنف", htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "input-fild", @id = "EIcategory" })
                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RestaurantId, "مقدمة من", htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        @Html.DropDownList("RestaurantId", null, htmlAttributes: new { @class = "input-fild", @id = "EIrestaurant" })
                                        @Html.ValidationMessageFor(model => model.RestaurantId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-5" style="float:right">
                                <div class="form-group">
                                    <img id="EIimgUrl" class="modal-Img" alt="أضف صورة">
                                    <label for="EIpicture" class="btn btn-primary modal-Btn">تغيير الصورة</label>
                                    <input id="EIpicture" class="modal-filein" type="file" name="upload" onchange="loadFile('EIimgUrl',event)" />
                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input id="btnItemEdit" type="button" value="تعديل" class="btn btn-primary modal-BtnCreate" />
                        <button id="btnEditColse" type="button" class="btn modal-BtnClose" data-dismiss="modal">أغلاق</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--Delete Item-->

<div class="modal fade Item" id="Modal-itemDelete">
    <div class="modal-dialog modalCenter">
        <div class="modalContent">
            <div class="modal-header">
                <h2 class="modal-title" style="text-align:center">هل تريد بالتأكيد حذف هذا العنصر ؟</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Items", FormMethod.Post, new { enctype = "multipart/form-data", @id = "itemForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-horizontal" style="margin-top:50px">
                            <div class="col-md-7" style="float:right">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4 ", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        <input type="text" readonly class="input-fild" id="DIname" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        <input type="text" readonly class="input-fild" id="DIprice">
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TimeOfDone, htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        <input type="text" readonly class="input-fild" id="DItimeOfDone">
                                        @Html.ValidationMessageFor(model => model.TimeOfDone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryId, "نوع الصنف", htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        <input type="text" class="input-fild" id="DIcategory">
                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RestaurantId, "مقدمة من", htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                                    <div class="col-md-8" style="float:right">
                                        <input type="text" readonly class="input-fild" id="DIrestaurant" />
                                        @Html.ValidationMessageFor(model => model.RestaurantId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5" style="float:right">
                                <div class="form-group">
                                    <img id="DIimgUrl" class="modal-Img">
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input id="btnItemDelete" type="button" value="حـذف" class="btn btn-danger modal-BtnCreate" />
                        <button id="btnDeleteColse" type="button" class="btn modal-BtnClose" data-dismiss="modal" onclick="resetFilds(event)">أغلاق</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









