@model CloudRestaurant.Models.Country

<div class="container" id="_CountryPartial" style="direction:rtl">
    @Html.Partial("_CountryPartial")
</div>

<!--Create Country-->

<div class="modal fade Country" id="Modal-countryCreate">
    <div class="modal-dialog">
        <div class="modalContent">
            <div class="modal-header">
                <h2 class="modal-title">أضافة دولة</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Countries", FormMethod.Post, new { enctype = "multipart/form-data", @id = "CreateCountryForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal" style="margin-top:20px">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-fild", @id = "CCname" } })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <input value="أضافة" class="btn btn-success modal-BtnCreate" id="btnCreateCountry" />
                <button id="btnCreateColse" type="button" class="btn modal-BtnClose" data-dismiss="modal" onclick="resetFilds('CreateCountryForm','',event)">أغلاق</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Country-->

<div class="modal fade Country" id="Modal-countryEdit">
    <div class="modal-dialog modalCenter">
        <div class="modalContent">
            <div class="modal-header">
                <h2 class="modal-title" style="text-align:center">تعديل بيانات الدولة</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Items", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditItemForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal" style="margin-top:20px">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4", @style = "float:right" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-fild", @id = "ECname" } })
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="modal-footer">
                <input value="تعديل" class="btn btn-primary modal-BtnCreate" id="btnEditCountry" />
                <button id="btnEditColse" type="button" class="btn modal-BtnClose" data-dismiss="modal" onclick="CresetFilds(event)">أغلاق</button>
            </div>

        </div>
    </div>
</div>


