<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial scale=1" />
    <title>FOODSTATION</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/layoutStyle.css" rel="stylesheet" />
    <link href="~/Content/sidebar.css" rel="stylesheet" />
    <link href="~/Content/styleLogin.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>

    <!-- Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div>
            <div class="navbar-header navbar-right">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <span class="btnLogin-popup btn btn-default logoSize">Login</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="#">
                            اتصل بنا
                            <i class="glyphicon glyphicon-envelope"></i>

                        </a>
                    <li>
                        <a href="#">
                            حول الموقع
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/Restaurants/Index">
                            أصناف العروض
                            <i class="glyphicon glyphicon-folder-open"></i>

                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            الرئيسية
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                </ul>
                <!-- partial login-->
                @Html.Partial("_LoginPartial")

                <a href="@Url.Action("GetBill", "Home")" id="BasketId" class="Basket" style=" display: block; position: absolute; font-size: 23px; color: white; margin-top: 10px; padding: 10px; transform: translateX(8px);">
                    <i class="glyphicon glyphicon-shopping-cart" id="Bas"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- End Navbar-->

    <!-- Landing-->
    <div class="landing">
        <div class="col-md-6 ladingHalf" data-aos="zoom-in" data-aos-delay="200">
            <img src="~/images/hero-img.png" class="img-fluid landingImg" />
        </div>
        <div class="col-md-6 text">
            <div style="margin:10px 2px 2px 25px ; text-align:justify;">
                <h1 style=" font-size: 45px;  font-weight: bold;">Cloud-Restaurants</h1>
                <p style=" font-size: 20px;text-transform:uppercase;">You can browse all Restaurant and order all ***</p>
                <p class="lead">أهلا بك في المطاعم السحابية هنا نوفر لك جميع وجبات المطاعم والكافيهات والبوفيهات يمكنك تصفح المطاعم والطلب من أي مطعم بوقت واحد ومن مكان واحد المطاعم السحابية اختيارك الأفضل </p>
            </div>
        </div>

    </div>
    <!-- End landing-->

    <!--start login and register window-->
    <div class="wrapper" >
        <span class="icon-close">
            <i class="glyphicon glyphicon-remove"></i>
        </span>
        <div class="form-box login">
            <h2>Login</h2>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-box">
                    <span class="icon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" required name="UserName">
                    <label>UserName</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" required name="Password">
                    <label>password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">forgot password</a>
                </div>
                <button type="submit" class="btnLogin">Login</button>
                <div class="login-register">
                    <p>
                        Don't have an account
                        <a href="#" class="register-like">Register</a>
                    </p>
                </div>
            }
        </div>
        <div class="form-box register">
            <h2>Registeration </h2>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="input-box">
                    <span class="icon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="UserName" type="text" required>
                    <label>UserName</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="Email" type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input name="Password" type="password" required>
                    <label>password</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input name="ConfirmPassword" type="password" required>
                    <label>ConfirmPassword</label>
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox">agree to the terns & co
                        ditions
                    </label>
                    <a href="#">forgot password</a>
                </div>
                <button type="submit" class="btnLogin">Register</button>
                <div class="login-register">
                    <p>
                        Already have an account?
                        <a href="#" class="login-like">Login</a>
                    </p>
                </div>
            }
        </div>
    </div>
    <!--End login and register window-->

    <!--Main-->
    <main style="min-height:550px">
        @RenderBody()
        <div class="row" id="_billItems">
            @Html.Partial("_ManageMdalPartial")
        </div>
    </main>
    <!--End main-->
    <!-- Footer-->
    <footer>
        <div class="row">
            <div class="col">
                <img src="~/images/favicon.ico" class="logo">
                <p>
                    منصة FOODSTATION
                    أختيارك الأفصل هنا بامكانك تصفح جميع المطاعم والكافيهات ومعرفة الأصناف نوفر لك سلالسة في الوصول
                    لو كنت مال مطعم نوفر لك تسويق للاصناف مع الأسعار أشترك معنا بأحدى الأشتراكات المتاحة لتتميز بخدماتنا الجميلة
                </p>
            </div>
            <div class="col">
                <div class="footerTitle">
                    المكتب <div class="underline"><span></span></div>
                </div>
                <p>الشارع العام</p>
                <p>حي السلام, مقابل مكتب البريد</p>
                <p>المكلا . PIN 560066, اليمن</p>
                <p class="email-id">Occ716528@gmail.com</p>
                <h4>+967 - 770485277 </h4>
            </div>
            <div class="col">
                <div class="footerTitle">
                    روابط <div class="underline"><span></span></div>
                </div>
                <ul>
                    <li><a href="">الرئيسية</a></li>
                    <li><a href="">الخدمات</a></li>
                    <li><a href="">حول الموقع</a></li>
                    <li><a href="">المميزات</a></li>
                    <li><a href="">تواصل معنا</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="footerTitle">
                    أخر الأخبار <div class="underline"><span></span></div>
                </div>
                <form>
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="أدخل الإيميل الخاص بك" required>
                    <button type="submit"><i class="fa-solid fa-arrow-left"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>
                </div>
            </div>
        </div>
        <hr>
        <p style="direction:rtl" class="copyright">ASM-Group &copy; 2023 - جميع الحقوق محفوظة</p>
    </footer>
    <!--End footer-->

    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/Content/Site.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
