<div>
    <h2>قائمة المطاعم</h2>
</div>
<div>
    <p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Modal-restaurantCreate">أضافة مطعم</a>
    </p>
</div>
<table class="table" id="restaurantTable">
    <tr class="btn-primary">

        <th>
            أسم المطعم
        </th>
        <th>
            مالك المطعم
        </th>
        <th>
            الوصف
        </th>
        <th>
            المنطقة
        </th>
        <th>
            الصورة
        </th>
        <th>
            الأجراء
        </th>
    </tr>

    @foreach (var item in ViewBag.restaurants)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.User.UserName
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Region.Name
            </td>
            <td>
                <img src="~/Uploads/Restaurants/@item.ImgUrl" class="img-thumbnail" style="width:48px;height:48px" />
            </td>
            <td>
                <a  style="font-size:20px" onclick="EditRestaurantConfirm(@item.Id)"><i class="fa-solid fa-pen-to-square Action-Icon" style="color: #005eff;"></i></a> |
                <a  style="font-size:20px" onclick="DeleteRestaurantConfirm(@item.Id)"><i class="fa-solid fa-trash-can Action-Icon" style="color: #ff2600;"></i></a>
                <input type="hidden" id="RestaurantId" />
            </td>
        </tr>
    }
</table>
